@font-face {
    font-family: 'harmonyOS_Black';
    src: url(./fonts/HarmonyOS_Sans_TC_Black.ttf);
}
@font-face {
    font-family: 'harmonyOS_Light';
    src: url(./fonts/HarmonyOS_Sans_Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.bar_btn{
    @apply cursor-pointer p-2 inline-block
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


body{
    overflow: hidden;
    height: 100vh;
    /* padding:15px; */
    -webkit-user-select: none;
    font-family: 'harmonyOS_Light';
}
#app {
    height: 100vh;
    -webkit-app-region: no-drag;
}

.panel {
  transition: background-color 400ms ease;
}


.tab_list{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 1rem;
}
.tab_list>li{
    display: inline-block;
    color: #fff;
    height: fit-content;
    font-size: 0;
    opacity: 0.4;
    transition: opacity 400ms ease-out;
    margin: 0.5rem;
    cursor: pointer;
}

.tab_list h4{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'harmonyOS_Black';
    transition: all 400ms ease-out;
}
.tab_list span{
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-family: 'harmonyOS_Light';
    transition: all 400ms ease-out;
}
.tab_list li.current h4{
    font-size: 3.5rem;
    line-height: 4.5rem;
}
.tab_list li.current span{
    font-size: 1rem;
}
.tab_list li.current{
    opacity: 1;
}

/* .file_list{
    transition: height 200ms ease-out;
} */

.feather_bg {
    /* top: -20px; */
    border-radius: 100%;
    /* box-shadow: 0 -1rem 10rem #10b981; */
    
}
.light_one {
  opacity: 0.5;
  box-shadow: 
    0 0 2rem #53fff4,
    0 0 4rem #53fff4,
    0 0 6rem #53fff4,
    0 0 12rem #00fff0,
    0 0 16rem #00fff0,
    0 0 20rem #00fff0,
    0 0 24rem #00fff0,
    0 0 32rem #00fff0;
}
.light_two {
  opacity: 0.8;
  box-shadow: 
    0 0 2rem #FDE047,
    0 0 4rem #FDE047,
    0 0 6rem #FDE047,
    0 0 12rem #ff8c2d,
    0 0 16rem #ff8c2d,
    0 0 20rem #ff8c2d,
    0 0 24rem #ff8c2d,
    0 0 32rem #ff8c2d;
}
.light_three {
  opacity: 0.5;
  box-shadow: 
    0 0 2rem #ff538c,
    0 0 4rem #ff538c,
    0 0 6rem #ff538c,
    0 0 12rem #ff006a,
    0 0 16rem #ff006a,
    0 0 20rem #ff006a,
    0 0 24rem #ff006a,
    0 0 32rem #ff006a;
}


.file_list h6{
    font-family: 'harmonyOS_Black';
}

.expand {
  height: calc(100% - 9rem);
}

.slide-enter-active,
.slide-leave-active {
  transition: height 200ms ease-out;
}

.slide-enter-from,
.slide-leave-to {
  height: 0;
}
.funcSwitch-enter-active,
.funcSwitch-leave-active {
  transition: height 200ms ease-out;
}

.funcSwitch-enter-from,
.funcSwitch-leave-to {
  height: 0;
}
.funcSwitch-enter-active .feather_bg,
.funcSwitch-leave-active .feather_bg{
  transition: opacity 200ms ease-out;
}

.funcSwitch-enter-from .feather_bg,
.funcSwitch-leave-to .feather_bg{
  opacity: 0;
}










/*-success animation-*/

  .circle-loader {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
  
  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
  }

  .load-fail {
    -webkit-animation: none;
    animation: none;
    border: none;
  }
  .load-fail::before{
    content: '';
    width: 0; 
    height: 0; 
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0rem solid transparent;
    border-bottom: 1.3rem solid rgb(255, 62, 62);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .load-fail::after{
    content: '!';
    font-family: 'harmonyOS_Black';
    font-size: 0.75rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
  }
  
  .checkmark {
    display: none;
  }
  .load-complete .checkmark {
    display: block;
  }
  .checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  .checkmark:after {
    opacity: 1;
    height: 1rem;
    width: 0.5rem;
    transform-origin: left top;
    border-right: 0.2rem solid #5cb85c;
    border-top: 0.2rem solid #5cb85c;
    content: "";
    left: 0.43rem;
    top: 0.96rem;
    position: absolute;
  }
  
  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 0.5rem;
      opacity: 1;
    }
    40% {
      height: 1rem;
      width: 0.5rem;
      opacity: 1;
    }
    100% {
      height: 1rem;
      width: 0.5rem;
      opacity: 1;
    }
  }